/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import url(https://unpkg.com/leaflet@1.9.4/dist/leaflet.css);

.wp-block-mptab-map {
	height: 500px;
	.mptab-leaflet__container {
		height: inherit;
		.leaflet-container {
			height: inherit;
		}
	}
	.mptab-leaflet__skeleton {
		height: inherit;
		animation: skeleton 1s infinite;
		border-radius: 4px;
	}
	@keyframes skeleton {
		0% {
			background-color: rgba($color: #fff, $alpha: 0.1);
		}
		50% {
			background-color: rgba($color: #fff, $alpha: 0.2);
		}
		100% {
			background-color: rgba($color: #fff, $alpha: 0.1);
		}
	}
}
