/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-mptab-phone {
	.mptab-phone__text {
		display: inline-block;
	}
	.mptab-phone__skeleton {
		animation: skeleton 1s infinite;
		border-radius: 4px;
		height: var(--wp--preset--font-size--m);
		max-width: 10em;
	}
	@keyframes skeleton {
		0% {
			background-color: rgba($color: #fff, $alpha: 0.1);
		}
		50% {
			background-color: rgba($color: #fff, $alpha: 0.2);
		}
		100% {
			background-color: rgba($color: #fff, $alpha: 0.1);
		}
	}
}
