/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@use '../../tailwind.css';

.wp-block-mptab-show-services {
	section {
		margin-bottom: var(--wp--custom--gapo--xl);
	}
	position: relative;
	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: var(--wp--preset--color--primary);
		border-radius: 100%;
		filter: blur(100px);
		opacity: 0.3;
	}
	.mptab_event_display_min {
		position: relative;
		margin-bottom: var(--wp--custom--gapo--l);
		&:last-of-type {
			margin-bottom: 0;
		}
		gap: var(--wp--custom--gapo--m);
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 781px) {
			flex-direction: row;
			&:nth-of-type(even) {
				flex-direction: row-reverse;
			}
		}
	}
	.mptab_event_display_img {
		// should have the same focal point as chosen
		background-size: cover;
		background-position: center center;
		min-height: 350px;
		width: 100%;
	}
	.mptab_event_display_info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0;
		width: 100%;
		@media screen and (min-width: 781px) {
			padding-top: 1rem;
			padding-bottom: 2rem;
		}
		.mptab_event_display_heading {
			font-size: 1.6rem;
			margin-bottom: 1rem;
		}
		p {
			margin-bottom: var(--wp--custom--gapo--s);
		}
	}
	.mptab_event_display_button {
		width: fit-content;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
	}
}
